<main>
  <h1>
    Liste des pokemons
  </h1>
  <!-- <button (click)="changeMessage()">Change the message</button> -->

  <div fxLayout="row" fxLayoutAlign="center stretched" *ngIf="!characters">
    <i class="fas fa-spinner fa-spin fa-5x"></i>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-around stretched">
    <div fxLayout="column" fxLayoutAlign="center center" *ngFor="let character of characters">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{character.name|titlecase}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{character.avatar}}" alt="{{character.name}}">
          <mat-card-content>
            
          </mat-card-content>
          <mat-card-actions align="end">
            <a mat-raised-button color="primary" routerLink="/character/{{character.id}}">Voir le détail</a>
          </mat-card-actions>
        </mat-card>
    </div>  
  </div>
</main>